@charset "UTF-8";
@keyframes "bubbles" {
  from {
    transform: translate(); }
  to {
    transform: translate(0, -66.666%); } }

.save-container {
  display: none;
  margin-top: 30px; }
  .save-container .glyphicon-star {
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    vertical-align: text-bottom; }
  .save-container .glyphicon-star-empty {
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    vertical-align: text-bottom; }

.right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 66%; }
  .right::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px;
    pointer-events: none;
    top: -30px;
    left: calc(-66% - 20px);
    background-color: var(--bg-color);
    color: transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg); }

button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: Source Code Pro;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden; }
  button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px;
    pointer-events: none;
    font-weight: 200;
    top: -30px;
    left: -20px; }
  button:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px; }
  button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg); }
  button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg); }
  button .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg); }
  button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both; }

.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 66%; }

.container {
  max-width: 980px;
  text-align: center;
  margin: auto; }

.contact-form {
  background: #dc3545; }

h1 {
  margin-bottom: 20px; }

#geocoding_form {
  margin: 40px auto 60px; }

#address {
  border-radius: 3px; }

.input-group {
  margin-left: 4%; }

.glyphicon {
  font-size: 18px;
  z-index: 20;
  cursor: pointer; }

.glyphicon-search {
  position: relative;
  right: 30px; }

#save-location {
  display: inline;
  margin: 10px auto;
  line-height: 1.4; }

.glyphicon-menu-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px; }

.map-overlay {
  max-width: 550px;
  height: 350px;
  margin: 0 auto;
  background-color: #fcfcfc;
  position: relative;
  border-radius: 2px; }
  .map-overlay p {
    position: absolute;
    width: 84px;
    height: 22px;
    left: 50%;
    top: 50%;
    margin: -11px auto 0 -42px;
    font-size: 20px;
    color: #969fa8; }

#map {
  max-width: 500px;
  height: 350px;
  margin: 0 auto; }

.list-group {
  display: none;
  padding: 0 15px;
  margin-top: 50px; }

.list-group-item {
  position: relative;
  padding: 10px 20px; }

a {
  text-decoration-color: white; }

a.list-group-item {
  cursor: pointer; }
  a.list-group-item:hover {
    background-color: #f7fbff; }
  a.list-group-item span.createdAt {
    display: block;
    color: #969fa8;
    z-index: -1; }

a.active-location {
  background-color: #eef6ff; }
  a.active-location:hover {
    background-color: #ebf3fc; }

.info {
  background-color: #dc3545; }

.button {
  float: right; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }
  .sticky + .content {
    padding-top: 60px; }

#navbar {
  overflow: hidden;
  background-color: #333; }

.content {
  padding: 16px; }

.tekst {
  text-decoration: none; }

#tekst {
  text-decoration-color: white; }

#kontakt {
  background-color: #dc3545; }

.kontakt {
  position: absolute;
  right: -750px;
  top: -350px;
  font-size-adjust: initial;
  overflow: hidden;
  font-size: 25px;
  margin-top:5px;
}

.päring {
  background-color: #dc3545;
  font-size: 19px;
  text-align: left; }

.nupp {
  position: relative;
  padding: 0 15px;
  top: -90px; }

* {
  box-sizing: border-box; }

#footer {
  background-color: #dc3545; }

#java {
  text-align: left; }

#abi {
  text-align: center; }

#lisainfo {
  position: relative;
  width: 760px;
  left: 50%;
  top: -125px;
  margin-left: 300px;
  padding-left: 0;
  padding-top: -150px;
  padding-bottom: 50px;
  margin-top: -150px;
}
